@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: #fff;
}

button {
  background: #ff3a3e;
}
button:active{
  transform: translateY(1px);
  background: #00000020;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.section {
  background: #161616;
  border: 1px solid #d3cccc;
  border-radius: 20px;
  width: 100%;
  padding: 16px;
}

.section h2 {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.section-button {
  padding: 8px 22px;
  border-radius: 50px;
  gap: 8px;
}

.section-info {
  width: 50%;
  padding: 16px 0;
}
.heading {
  font-size: 13px;
  font-weight: 300;
}
.title {
  font-size: 16px;
  font-weight: 600;
}
